* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    border: 1px solid red;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    height: 60px;
}
.button {
    color: #451400;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    padding: 8px 0px;
    height: 40px;
    position:relative;
}
.options{
    margin-right:15px;
    
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0px;
    border-bottom: 3px solid #803000;
}

.button:hover::before {
    animation: myAnimation 0.5s ease forwards;
}

.button:hover {
    color: #803000; 
}



@keyframes myAnimation {
    from {width: 0px;}
    to {width: 25px;}
    
}